/* *{
    color: white;
} */
/* body{
    background-color: #FFE3FE;
} */
.home {
  display: flex;
  margin-top: 3%;
}
.home-img {
  float: right;
  width: 40%;
  height: 620px;
  margin-left: 5%;
}
.desc {
  float: left;
  margin: 9%;
  width: 40%;
  margin-top: 5%;
  font-size: 20px;
  color: #452c5f;
  font-weight: 600;
}
.a {
  list-style: none;
  padding: 0;
}
.b {
  margin-top: 10px;
  color: #452c5f;
}
.name {
  text-align: center;
  font-size: 60px;
  font-family: "Fira Sans", sans-serif;
  color: #455a64;
  margin-top: 120px;
}
.quote {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #ba68c8;
}
.dec {
  font-style: italic;
  font-weight: 600;
  color: #452c5f;
}
.dec:hover {
  text-decoration: underline;
}
footer {
  background-color: #5d3464;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

@media only screen and (max-width: 1060px) {
  .name {
    font-size: 50px;
  }
  .quote {
    font-size: 27px;
  }
  .desc {
    font-size: 18px;
  }
}
@media only screen and (max-width: 960px) {
  .name {
    font-size: 46px;
  }
  .quote {
    font-size: 26px;
  }
  .desc {
    font-size: 18px;
    float: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
  }
  .home {
    display: block;
    margin-top: 0;
  }
  .home-img {
    float: none;
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 800px) {
  .name {
    font-size: 46px;
  }
  .quote {
    font-size: 24px;
  }
  .desc {
    font-size: 18px;
    float: none;
    width: 80%;
    margin-left: 10%;
  }
  .home {
    display: block;
  }
  .home-img {
    float: none;
    width: 60%;
    margin-left: 20%;
  }
}
@media only screen and (max-width: 580px) {
  .name {
    font-size: 46px;
  }
  .quote {
    font-size: 24px;
  }
  .desc {
    font-size: 18px;
    float: none;
    width: 80%;
    margin-left: 10%;
  }
  .home {
    display: block;
    margin-top: 0px;
  }
  .home-img {
    position: relative;
    top: -10px;
    float: none;
    width: 80%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 500px) {
  .name {
    font-size: 46px;
  }
  .quote {
    font-size: 24px;
  }
  .desc {
    font-size: 18px;
    float: none;
    width: 80%;
    margin-left: 10%;
  }
  .home {
    display: block;
    margin-top: 0px;
  }
  .home-img {
    position: relative;
    top: -10px;
    float: none;
    width: 80%;
    margin-left: 10%;
  }
}
.teamName:hover {
  font-style: italic;
}
